
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>İletişim - Dener Makina</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <style type="text/css">
        :root, :host {
            --fa-font-solid: normal 900 1em/1 "Font Awesome 7 Free";
            --fa-font-regular: normal 400 1em/1 "Font Awesome 7 Free";
            --fa-font-light: normal 300 1em/1 "Font Awesome 7 Pro";
            --fa-font-thin: normal 100 1em/1 "Font Awesome 7 Pro";
            --fa-font-duotone: normal 900 1em/1 "Font Awesome 7 Duotone";
            --fa-font-duotone-regular: normal 400 1em/1 "Font Awesome 7 Duotone";
            --fa-font-duotone-light: normal 300 1em/1 "Font Awesome 7 Duotone";
            --fa-font-duotone-thin: normal 100 1em/1 "Font Awesome 7 Duotone";
            --fa-font-brands: normal 400 1em/1 "Font Awesome 7 Brands";
            --fa-font-sharp-solid: normal 900 1em/1 "Font Awesome 7 Sharp";
            --fa-font-sharp-regular: normal 400 1em/1 "Font Awesome 7 Sharp";
            --fa-font-sharp-light: normal 300 1em/1 "Font Awesome 7 Sharp";
            --fa-font-sharp-thin: normal 100 1em/1 "Font Awesome 7 Sharp";
            --fa-font-sharp-duotone-solid: normal 900 1em/1 "Font Awesome 7 Sharp Duotone";
            --fa-font-sharp-duotone-regular: normal 400 1em/1 "Font Awesome 7 Sharp Duotone";
            --fa-font-sharp-duotone-light: normal 300 1em/1 "Font Awesome 7 Sharp Duotone";
            --fa-font-sharp-duotone-thin: normal 100 1em/1 "Font Awesome 7 Sharp Duotone";
            --fa-font-slab-regular: normal 400 1em/1 "Font Awesome 7 Slab";
            --fa-font-slab-press-regular: normal 400 1em/1 "Font Awesome 7 Slab Press";
            --fa-font-whiteboard-semibold: normal 600 1em/1 "Font Awesome 7 Whiteboard";
            --fa-font-thumbprint-light: normal 300 1em/1 "Font Awesome 7 Thumbprint";
            --fa-font-notdog-solid: normal 900 1em/1 "Font Awesome 7 Notdog";
            --fa-font-notdog-duo-solid: normal 900 1em/1 "Font Awesome 7 Notdog Duo";
            --fa-font-etch-solid: normal 900 1em/1 "Font Awesome 7 Etch";
            --fa-font-jelly-regular: normal 400 1em/1 "Font Awesome 7 Jelly";
            --fa-font-jelly-fill-regular: normal 400 1em/1 "Font Awesome 7 Jelly Fill";
            --fa-font-jelly-duo-regular: normal 400 1em/1 "Font Awesome 7 Jelly Duo";
            --fa-font-chisel-regular: normal 400 1em/1 "Font Awesome 7 Chisel";
        }

        .svg-inline--fa {
            box-sizing: content-box;
            display: var(--fa-display, inline-block);
            height: 1em;
            overflow: visible;
            vertical-align: -0.125em;
            width: var(--fa-width, 1.25em);
        }

            .svg-inline--fa.fa-2xs {
                vertical-align: 0.1em;
            }

            .svg-inline--fa.fa-xs {
                vertical-align: 0em;
            }

            .svg-inline--fa.fa-sm {
                vertical-align: -0.0714285714em;
            }

            .svg-inline--fa.fa-lg {
                vertical-align: -0.2em;
            }

            .svg-inline--fa.fa-xl {
                vertical-align: -0.25em;
            }

            .svg-inline--fa.fa-2xl {
                vertical-align: -0.3125em;
            }

            .svg-inline--fa.fa-pull-left,
            .svg-inline--fa .fa-pull-start {
                float: inline-start;
                margin-inline-end: var(--fa-pull-margin, 0.3em);
            }

            .svg-inline--fa.fa-pull-right,
            .svg-inline--fa .fa-pull-end {
                float: inline-end;
                margin-inline-start: var(--fa-pull-margin, 0.3em);
            }

            .svg-inline--fa.fa-li {
                width: var(--fa-li-width, 2em);
                inset-inline-start: calc(-1 * var(--fa-li-width, 2em));
                inset-block-start: 0.25em; /* syncing vertical alignment with Web Font rendering */
            }

        .fa-layers-counter, .fa-layers-text {
            display: inline-block;
            position: absolute;
            text-align: center;
        }

        .fa-layers {
            display: inline-block;
            height: 1em;
            position: relative;
            text-align: center;
            vertical-align: -0.125em;
            width: var(--fa-width, 1.25em);
        }

            .fa-layers .svg-inline--fa {
                inset: 0;
                margin: auto;
                position: absolute;
                transform-origin: center center;
            }

        .fa-layers-text {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transform-origin: center center;
        }

        .fa-layers-counter {
            background-color: var(--fa-counter-background-color, #ff253a);
            border-radius: var(--fa-counter-border-radius, 1em);
            box-sizing: border-box;
            color: var(--fa-inverse, #fff);
            line-height: var(--fa-counter-line-height, 1);
            max-width: var(--fa-counter-max-width, 5em);
            min-width: var(--fa-counter-min-width, 1.5em);
            overflow: hidden;
            padding: var(--fa-counter-padding, 0.25em 0.5em);
            right: var(--fa-right, 0);
            text-overflow: ellipsis;
            top: var(--fa-top, 0);
            transform: scale(var(--fa-counter-scale, 0.25));
            transform-origin: top right;
        }

        .fa-layers-bottom-right {
            bottom: var(--fa-bottom, 0);
            right: var(--fa-right, 0);
            top: auto;
            transform: scale(var(--fa-layers-scale, 0.25));
            transform-origin: bottom right;
        }

        .fa-layers-bottom-left {
            bottom: var(--fa-bottom, 0);
            left: var(--fa-left, 0);
            right: auto;
            top: auto;
            transform: scale(var(--fa-layers-scale, 0.25));
            transform-origin: bottom left;
        }

        .fa-layers-top-right {
            top: var(--fa-top, 0);
            right: var(--fa-right, 0);
            transform: scale(var(--fa-layers-scale, 0.25));
            transform-origin: top right;
        }

        .fa-layers-top-left {
            left: var(--fa-left, 0);
            right: auto;
            top: var(--fa-top, 0);
            transform: scale(var(--fa-layers-scale, 0.25));
            transform-origin: top left;
        }

        .fa-1x {
            font-size: 1em;
        }

        .fa-2x {
            font-size: 2em;
        }

        .fa-3x {
            font-size: 3em;
        }

        .fa-4x {
            font-size: 4em;
        }

        .fa-5x {
            font-size: 5em;
        }

        .fa-6x {
            font-size: 6em;
        }

        .fa-7x {
            font-size: 7em;
        }

        .fa-8x {
            font-size: 8em;
        }

        .fa-9x {
            font-size: 9em;
        }

        .fa-10x {
            font-size: 10em;
        }

        .fa-2xs {
            font-size: calc(10 / 16 * 1em); /* converts a 10px size into an em-based value that's relative to the scale's 16px base */
            line-height: calc(1 / 10 * 1em); /* sets the line-height of the icon back to that of it's parent */
            vertical-align: calc((6 / 10 - 0.375) * 1em); /* vertically centers the icon taking into account the surrounding text's descender */
        }

        .fa-xs {
            font-size: calc(12 / 16 * 1em); /* converts a 12px size into an em-based value that's relative to the scale's 16px base */
            line-height: calc(1 / 12 * 1em); /* sets the line-height of the icon back to that of it's parent */
            vertical-align: calc((6 / 12 - 0.375) * 1em); /* vertically centers the icon taking into account the surrounding text's descender */
        }

        .fa-sm {
            font-size: calc(14 / 16 * 1em); /* converts a 14px size into an em-based value that's relative to the scale's 16px base */
            line-height: calc(1 / 14 * 1em); /* sets the line-height of the icon back to that of it's parent */
            vertical-align: calc((6 / 14 - 0.375) * 1em); /* vertically centers the icon taking into account the surrounding text's descender */
        }

        .fa-lg {
            font-size: calc(20 / 16 * 1em); /* converts a 20px size into an em-based value that's relative to the scale's 16px base */
            line-height: calc(1 / 20 * 1em); /* sets the line-height of the icon back to that of it's parent */
            vertical-align: calc((6 / 20 - 0.375) * 1em); /* vertically centers the icon taking into account the surrounding text's descender */
        }

        .fa-xl {
            font-size: calc(24 / 16 * 1em); /* converts a 24px size into an em-based value that's relative to the scale's 16px base */
            line-height: calc(1 / 24 * 1em); /* sets the line-height of the icon back to that of it's parent */
            vertical-align: calc((6 / 24 - 0.375) * 1em); /* vertically centers the icon taking into account the surrounding text's descender */
        }

        .fa-2xl {
            font-size: calc(32 / 16 * 1em); /* converts a 32px size into an em-based value that's relative to the scale's 16px base */
            line-height: calc(1 / 32 * 1em); /* sets the line-height of the icon back to that of it's parent */
            vertical-align: calc((6 / 32 - 0.375) * 1em); /* vertically centers the icon taking into account the surrounding text's descender */
        }

        .fa-width-auto {
            --fa-width: auto;
        }

        .fa-fw,
        .fa-width-fixed {
            --fa-width: 1.25em;
        }

        .fa-ul {
            list-style-type: none;
            margin-inline-start: var(--fa-li-margin, 2.5em);
            padding-inline-start: 0;
        }

            .fa-ul > li {
                position: relative;
            }

        .fa-li {
            inset-inline-start: calc(-1 * var(--fa-li-width, 2em));
            position: absolute;
            text-align: center;
            width: var(--fa-li-width, 2em);
            line-height: inherit;
        }
        @*
        /* Heads Up: Bordered Icons will not be supported in the future!
          - This feature will be deprecated in the next major release of Font Awesome (v8)!
          - You may continue to use it in this version *v7), but it will not be supported in Font Awesome v8.
        */
        /* Notes:
        * --@{
        v.$css - prefix
                }
 -border-width = 1/16 by default (to render as ~1px based on a 16px default font-size)
        * -- @{
                v.$css - prefix
                }
 -border-padding =
        ** 3/16 for vertical padding (to give ~2px of vertical whitespace around an icon considering it's vertical alignment)
          ** 4/16 for horizontal padding (to give ~4px of horizontal whitespace around an icon)
        */
        .fa-border {
          border-color: var(--fa-border-color, #eee);
          border-radius: var(--fa-border-radius, 0.1em);
          border-style: var(--fa-border-style, solid);
          border-width: var(--fa-border-width, 0.0625em);
          box-sizing: var(--fa-border-box-sizing, content-box);
          padding: var(--fa-border-padding, 0.1875em 0.25em);
        }

        .fa-pull-left,
        .fa-pull-start {
          float: inline-start;
          margin-inline-end: var(--fa-pull-margin, 0.3em);
        }

        .fa-pull-right,
        .fa-pull-end {
          float: inline-end;
          margin-inline-start: var(--fa-pull-margin, 0.3em);
        }

        .fa-beat {
          animation-name: fa-beat;
          animation-delay: var(--fa-animation-delay, 0s);
          animation-direction: var(--fa-animation-direction, normal);
          animation-duration: var(--fa-animation-duration, 1s);
          animation-iteration-count: var(--fa-animation-iteration-count, infinite);
          animation-timing-function: var(--fa-animation-timing, ease-in-out);
        }

        .fa-bounce {
          animation-name: fa-bounce;
          animation-delay: var(--fa-animation-delay, 0s);
          animation-direction: var(--fa-animation-direction, normal);
          animation-duration: var(--fa-animation-duration, 1s);
          animation-iteration-count: var(--fa-animation-iteration-count, infinite);
          animation-timing-function: var(--fa-animation-timing, cubic-bezier(0.28, 0.84, 0.42, 1));
        }

        .fa-fade {
          animation-name: fa-fade;
          animation-delay: var(--fa-animation-delay, 0s);
          animation-direction: var(--fa-animation-direction, normal);
          animation-duration: var(--fa-animation-duration, 1s);
          animation-iteration-count: var(--fa-animation-iteration-count, infinite);
          animation-timing-function: var(--fa-animation-timing, cubic-bezier(0.4, 0, 0.6, 1));
        }

        .fa-beat-fade {
          animation-name: fa-beat-fade;
          animation-delay: var(--fa-animation-delay, 0s);
          animation-direction: var(--fa-animation-direction, normal);
          animation-duration: var(--fa-animation-duration, 1s);
          animation-iteration-count: var(--fa-animation-iteration-count, infinite);
          animation-timing-function: var(--fa-animation-timing, cubic-bezier(0.4, 0, 0.6, 1));
        }

        .fa-flip {
          animation-name: fa-flip;
          animation-delay: var(--fa-animation-delay, 0s);
          animation-direction: var(--fa-animation-direction, normal);
          animation-duration: var(--fa-animation-duration, 1s);
          animation-iteration-count: var(--fa-animation-iteration-count, infinite);
          animation-timing-function: var(--fa-animation-timing, ease-in-out);
        }

        .fa-shake {
          animation-name: fa-shake;
          animation-delay: var(--fa-animation-delay, 0s);
          animation-direction: var(--fa-animation-direction, normal);
          animation-duration: var(--fa-animation-duration, 1s);
          animation-iteration-count: var(--fa-animation-iteration-count, infinite);
          animation-timing-function: var(--fa-animation-timing, linear);
        }

        .fa-spin {
          animation-name: fa-spin;
          animation-delay: var(--fa-animation-delay, 0s);
          animation-direction: var(--fa-animation-direction, normal);
          animation-duration: var(--fa-animation-duration, 2s);
          animation-iteration-count: var(--fa-animation-iteration-count, infinite);
          animation-timing-function: var(--fa-animation-timing, linear);
        }

        .fa-spin-reverse {
          --fa-animation-direction: reverse;
        }

        .fa-pulse,
        .fa-spin-pulse {
          animation-name: fa-spin;
          animation-direction: var(--fa-animation-direction, normal);
          animation-duration: var(--fa-animation-duration, 1s);
          animation-iteration-count: var(--fa-animation-iteration-count, infinite);
          animation-timing-function: var(--fa-animation-timing, steps(8));
        }

        @media (prefers-reduced-motion: reduce) {
          .fa-beat,
          .fa-bounce,
          .fa-fade,
          .fa-beat-fade,
          .fa-flip,
          .fa-pulse,
          .fa-shake,
          .fa-spin,
          .fa-spin-pulse {
            animation: none !important;
            transition: none !important;
          }
        }
        @keyframes fa-beat {
          0%, 90% {
            transform: scale(1);
          }
          45% {
            transform: scale(var(--fa-beat-scale, 1.25));
          }
        }
        @keyframes fa-bounce {
          0% {
            transform: scale(1, 1) translateY(0);
          }
          10% {
            transform: scale(var(--fa-bounce-start-scale-x, 1.1), var(--fa-bounce-start-scale-y, 0.9)) translateY(0);
          }
          30% {
            transform: scale(var(--fa-bounce-jump-scale-x, 0.9), var(--fa-bounce-jump-scale-y, 1.1)) translateY(var(--fa-bounce-height, -0.5em));
          }
          50% {
            transform: scale(var(--fa-bounce-land-scale-x, 1.05), var(--fa-bounce-land-scale-y, 0.95)) translateY(0);
          }
          57% {
            transform: scale(1, 1) translateY(var(--fa-bounce-rebound, -0.125em));
          }
          64% {
            transform: scale(1, 1) translateY(0);
          }
          100% {
            transform: scale(1, 1) translateY(0);
          }
        }
        @keyframes fa-fade {
          50% {
            opacity: var(--fa-fade-opacity, 0.4);
          }
        }
        @keyframes fa-beat-fade {
          0%, 100% {
            opacity: var(--fa-beat-fade-opacity, 0.4);
            transform: scale(1);
          }
          50% {
            opacity: 1;
            transform: scale(var(--fa-beat-fade-scale, 1.125));
          }
        }
        @keyframes fa-flip {
          50% {
            transform: rotate3d(var(--fa-flip-x, 0), var(--fa-flip-y, 1), var(--fa-flip-z, 0), var(--fa-flip-angle, -180deg));
          }
        }
        @keyframes fa-shake {
          0% {
            transform: rotate(-15deg);
          }
          4% {
            transform: rotate(15deg);
          }
          8%, 24% {
            transform: rotate(-18deg);
          }
          12%, 28% {
            transform: rotate(18deg);
          }
          16% {
            transform: rotate(-22deg);
          }
          20% {
            transform: rotate(22deg);
          }
          32% {
            transform: rotate(-12deg);
          }
          36% {
            transform: rotate(12deg);
          }
          40%, 100% {
            transform: rotate(0deg);
          }
        }
        @keyframes fa-spin {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }
        .fa-rotate-90 {
          transform: rotate(90deg);
        }

        .fa-rotate-180 {
          transform: rotate(180deg);
        }

        .fa-rotate-270 {
          transform: rotate(270deg);
        }

        .fa-flip-horizontal {
          transform: scale(-1, 1);
        }

        .fa-flip-vertical {
          transform: scale(1, -1);
        }

        .fa-flip-both,
        .fa-flip-horizontal.fa-flip-vertical {
          transform: scale(-1, -1);
        }

        .fa-rotate-by {
          transform: rotate(var(--fa-rotate-angle, 0));
        }

        .svg-inline--fa .fa-primary {
          fill: var(--fa-primary-color, currentColor);
          opacity: var(--fa-primary-opacity, 1);
        }

        .svg-inline--fa .fa-secondary {
          fill: var(--fa-secondary-color, currentColor);
          opacity: var(--fa-secondary-opacity, 0.4);
        }

        .svg-inline--fa.fa-swap-opacity .fa-primary {
          opacity: var(--fa-secondary-opacity, 0.4);
        }

        .svg-inline--fa.fa-swap-opacity .fa-secondary {
          opacity: var(--fa-primary-opacity, 1);
        }

        .svg-inline--fa mask .fa-primary,
        .svg-inline--fa mask .fa-secondary {
          fill: black;
        }

        .svg-inline--fa.fa-inverse {
          fill: var(--fa-inverse, #fff);
        }

        .fa-stack {
          display: inline-block;
          height: 2em;
          line-height: 2em;
          position: relative;
          vertical-align: middle;
          width: 2.5em;
        }

        .fa-inverse {
          color: var(--fa-inverse, #fff);
        }

        .svg-inline--fa.fa-stack-1x {
          height: 1em;
          width: 1.25em;
        }
        .svg-inline--fa.fa-stack-2x {
          height: 2em;
          width: 2.5em;
        }

        .fa-stack-1x,
        .fa-stack-2x {
          bottom: 0;
          left: 0;
          margin: auto;
          position: absolute;
          right: 0;
          top: 0;
          z-index: var(--fa-stack-z-index, auto);
        }*@
        </style>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css?v=j6fhJSuuyLpOSLuPJU0TsDV0iNjor5S3rDnvxJrt4bg">
    <link rel="stylesheet" href="/DenerMakine.styles.css?v=smhLhujg8H69ZrnixSSpYcKJS90Hk6mRCz8yF7aVINk">
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet">
    <link href="~/css/styles.css" rel="stylesheet">
    <script src="https://use.fontawesome.com/releases/v7.0.0/js/all.js" crossorigin="anonymous"></script>
    <link href="/icon.png" rel="shortcut icon" type="image/x-icon">
</head>
<body>
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="position:sticky">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="/ana sayfa.png" style="height:70px"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="/"><svg class="svg-inline--fa fa-house" data-prefix="fas" data-icon="house" role="img" viewBox="0 0 512 512" aria-hidden="true" data-fa-i2svg=""><path fill="currentColor" d="M277.8 8.6c-12.3-11.4-31.3-11.4-43.5 0l-224 208c-9.6 9-12.8 22.9-8 35.1S18.8 272 32 272l16 0 0 176c0 35.3 28.7 64 64 64l288 0c35.3 0 64-28.7 64-64l0-176 16 0c13.2 0 25-8.1 29.8-20.3s1.6-26.2-8-35.1l-224-208zM240 320l32 0c26.5 0 48 21.5 48 48l0 96-128 0 0-96c0-26.5 21.5-48 48-48z"></path></svg><!-- <i class="fas fa-home"></i> Font Awesome fontawesome.com --></a></li>
                    <li class="nav-item"><a class="nav-link" href="/Home/Contact"><svg class="svg-inline--fa fa-phone" data-prefix="fas" data-icon="phone" role="img" viewBox="0 0 512 512" aria-hidden="true" data-fa-i2svg=""><path fill="currentColor" d="M160.2 25C152.3 6.1 131.7-3.9 112.1 1.4l-5.5 1.5c-64.6 17.6-119.8 80.2-103.7 156.4 37.1 175 174.8 312.7 349.8 349.8 76.3 16.2 138.8-39.1 156.4-103.7l1.5-5.5c5.4-19.7-4.7-40.3-23.5-48.1l-97.3-40.5c-16.5-6.9-35.6-2.1-47 11.8l-38.6 47.2C233.9 335.4 177.3 277 144.8 205.3L189 169.3c13.9-11.3 18.6-30.4 11.8-47L160.2 25z"></path></svg><!-- <i class="fas fa-phone"></i> Font Awesome fontawesome.com --></a></li>
                    <li class="nav-item"><a class="nav-link" aria-current="page" href="/Login/Login"><svg class="svg-inline--fa fa-user" data-prefix="fas" data-icon="user" role="img" viewBox="0 0 448 512" aria-hidden="true" data-fa-i2svg=""><path fill="currentColor" d="M224 248a120 120 0 1 0 0-240 120 120 0 1 0 0 240zm-29.7 56C95.8 304 16 383.8 16 482.3 16 498.7 29.3 512 45.7 512l356.6 0c16.4 0 29.7-13.3 29.7-29.7 0-98.5-79.8-178.3-178.3-178.3l-59.4 0z"></path></svg><!-- <i class="fas fa-user"></i> Font Awesome fontawesome.com --></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        <div class=" container">
            <br>
            <main role="main" class="pb-3 row">
                <div class=" ">

                    <div id="change_wrap_div">
                        <div id="stuning-header">
                            <div class="menu-fixer mobile"></div>
                            <div class="menu-fixer tablet"></div>
                            <div class="menu-fixer desktop"></div>
                            <div class="dfd-stuning-header-bg-container "></div>
                            <h1 class="dfd-page-title text-center text-light" style="background-image: url('/titte-dener.jpg');background-size:cover;height:300px">
                                İletişim
                            </h1>
                        </div>
                        <section id="layout" class="dfd-default-template pages">
                            <div class="row boxed">
                                <div class="blog-section no-sidebars">
                                    <section id="main-content" role="main" class="twelve columns">
                                        <div class="dfd-content-wrap dfd-page_simple isotope-columns-3">
                                            <div class="vc_row vc-row-wrapper " data-parallax_sense="30">
                                                <div class="wpb_row row">
                                                    <div class="twelve columns vc-column-extra-class-688b71e58671d" data-parallax_sense="30">
                                                        <div class="wpb_wrapper">
                                                            <div class="vc-row-wrapper vc_inner vc_row-fluid">
                                                                <div class="row wpb_row">
                                                                    <div class="vc-column-hover-688b71e5892ae columns six">
                                                                        <div class="wpb_wrapper">
                                                                            <div class="dfd-spacer-module" data-units="px" data-wide_size="20" data-normal_resolution="1280" data-normal_size="20" data-tablet_resolution="1024" data-tablet_size="20" data-mobile_resolution="800" data-mobile_size="20" style="height: 20px;">
                                                                            </div>
                                                                            <div class="dfd-heading-shortcode">
                                                                                <div class="dfd-heading-module-wrap text-left style_02 cr-animate-gen animation-done" id="dfd-heading-688b71e58a4bd" data-animate-type="transition.slideLeftBigIn" style="opacity: 1; transform: translateX(0px);">
                                                                                    <div class="inline-block">
                                                                                        <div class="dfd-heading-module">
                                                                                            <h3 class="dfd-title " style="">İletişim Bilgileri</h3>
                                                                                            <div class="dfd-heading-delimiter"></div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="dfd-spacer-module" data-units="px" data-wide_size="20" data-normal_resolution="1024" data-normal_size="" data-tablet_resolution="800" data-tablet_size="" data-mobile_resolution="480" data-mobile_size="" style="height: 20px;"></div>
                                                                            <div id="dfd-icon-list-688b71e58ba12-3133" class="dfd-icon-list-wrap  style-1  icon-left">
                                                                                <ul class="dfd-icon-list">
                                                                                    <li class="with-link">
                                                                                        <div class="list-container selector">
                                                                                            <div class="icon-wrap">
                                                                                                <i class="featured-icon dfd-socicon-home"></i>
                                                                                            </div>
                                                                                            <div class="content-wrap">
                                                                                                <div class="dfd-content-title-small" style="font-size: 15px; ">Semerkent Mah. Bölükler Sk. No:538  İncesu / Kayseri / TÜRKİYE</div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <a href="https://www.google.com.tr/maps/embed?pb=!1m14!1m8!1m3!1d6239.833919368112!2d35.186762!3d38.558727!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0" target="_blank" class="icon-item-link">
                                                                                        </a>
                                                                                    </li>
                                                                                    <li class="">
                                                                                        <div class="list-container selector">
                                                                                            <div class="icon-wrap">
                                                                                                <i class="featured-icon dfd-socicon-telephone-handle-silhouette"></i>
                                                                                            </div>
                                                                                            <div class="content-wrap">
                                                                                                <div class="dfd-content-title-small" style="font-size: 15px; ">(+90) 352 321 13 50</div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </li>
                                                                                    <li class="">
                                                                                        <div class="list-container selector">
                                                                                            <div class="icon-wrap">
                                                                                                <i class="featured-icon dfd-socicon-printing-tool"></i>
                                                                                            </div>
                                                                                            <div class="content-wrap">
                                                                                                <div class="dfd-content-title-small" style="font-size: 15px; ">(+90) 352 321 13 53</div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </li>
                                                                                    <li class="">
                                                                                        <div class="list-container selector">
                                                                                            <div class="icon-wrap">
                                                                                                <i class="featured-icon dfd-socicon-gmail"></i>
                                                                                            </div>
                                                                                            <div class="content-wrap">
                                                                                                <div class="dfd-content-title-small" style="font-size: 15px; ">
                                                                                                    info@dener.com
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                            <div class="dfd-spacer-module" data-units="px" data-wide_size="20" data-normal_resolution="1024" data-normal_size="" data-tablet_resolution="800" data-tablet_size="" data-mobile_resolution="480" data-mobile_size="" style="height: 20px;">
                                                                            </div><div id="dfd-soc-icon-688b71e58c99f-3037" class="dfd-soc-icon  text-left style-7 left_to_right">
                                                                                <div class="soc-icon-container clearfix">
                                                                                    <span class="container-3d">
                                                                                        <a href="https://www.facebook.com/denermachinery/" target="_blank" class="fa-brand fa-facebook">
                                                                                            <i class="dfd-socicon-facebook"></i>
                                                                                        </a>
                                                                                    </span><span class="container-3d"><a href="https://www.instagram.com/denermakina/" target="_blank" class="dfd-socicon-instagram"><i class="dfd-socicon-instagram"></i></a></span><span class="container-3d"><a href="https://www.youtube.com/user/DENERMAKINATURKEY" target="_blank" class="dfd-socicon-youtube"><i class="dfd-socicon-youtube"></i></a></span><span class="container-3d"><a href="https://plus.google.com/+DENERMAKINATURKEY" target="_blank" class="dfd-socicon-google-plus"><i class="dfd-socicon-google-plus"></i></a></span><span class="container-3d"><a href="https://twitter.com/DenerMachine" target="_blank" class="dfd-socicon-twitter"><i class="dfd-socicon-twitter"></i></a></span><span class="container-3d"><a href="https://www.linkedin.com/company/dener-makina/" target="_blank" class="dfd-socicon-linkedin"><i class="dfd-socicon-linkedin"></i></a></span>
                                                                                </div>
                                                                            </div><div class="dfd-spacer-module" data-units="px" data-wide_size="20" data-normal_resolution="1024" data-normal_size="" data-tablet_resolution="800" data-tablet_size="" data-mobile_resolution="480" data-mobile_size="" style="height: 20px;"></div>
                                                                        </div>
                                                                    </div><div class="vc-column-hover-688b71e58d2eb columns six">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="dfd-spacer-module" data-units="px" data-wide_size="20" data-normal_resolution="1024" data-normal_size="" data-tablet_resolution="800" data-tablet_size="" data-mobile_resolution="480" data-mobile_size="" style="height: 20px;">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="vc_row vc-row-wrapper full_width_content vc_custom_1506181934565" data-parallax_sense="30">
                                                        <div class="wpb_row row">
                                                            <div class="twelve columns vc-column-extra-class-688b71e592d06" data-parallax_sense="30">
                                                                <div class="wpb_wrapper">
                                                                    <div class="wpb_text_column wpb_content_element ">
                                                                        <div class="wpb_wrapper">
                                                                            <p>
                                                                                <iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3119.9167871737945!2d35.18457341610003!3d38.558730974438916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x152b057412fb60ff%3A0x3ca458a9c0832e82!2sDener%20Makina!5e0!3m2!1str!2str!4v1664955664303!5m2!1str!2str" width="100%" height="400" frameborder="0" allowfullscreen="allowfullscreen">
                                                                                </iframe>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </section>
                    </div>











                </div>


               



            </main>
        </div>
        <!-- Footer-->
        <footer class="py-4 bg-dark mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="m-0 text-center text-white text-muted">Copyright © Dener Makina 2025</div>
                    <div style="color:aliceblue">
                        <a style="color:aliceblue" href="/Home/Privacy">KVKK</a>
                        ·
                        <a style="color:aliceblue" href="#">Çerezlerin Kullanımı</a>
                    </div>

                </div>
            </div>
        </footer>

    </div>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/site.js?v=hRQyftXiu1lLX2P9Ly9xa4gHJgLeR1uGN5qegUobtGo"></script>
    <script src="/js/scripts.js?v=hSOKtaoLbtAX3QLxogVcaVg8Fv7Y6HTCcpJqVePv720"></script>


    <!-- Visual Studio Browser Link -->
    <script type="text/javascript" src="/_vs/browserLink" async="async" id="__browserLink_initializationData" data-requestid="dfbf79a025f24bc786b43d725ec0ea35" data-requestmappingfromserver="false" data-connecturl="http://localhost:56754/916047b7822a40278d38b4372aedfae7/browserLink"></script>
    <!-- End Browser Link -->
    <script src="/_framework/aspnetcore-browser-refresh.js"></script>

</body>
</html>
