@{
    ViewData["Title"] = "Kişisel Verilere İlişkin Aydınlatma Metni";
}
<h1>@ViewData["Title"]</h1>

@* Dener.com Sayfasından alınmıştır *@

<div class="dfd-content-wrap dfd-page_simple isotope-columns-3">
    <p><!-- wp:paragraph --></p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:paragraph --></p>
    <p><strong><br> Veri Sorumlusu &nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;: Dener Makine Ltd. Şti.</strong><br> Adres&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : Semerkent Mah. Bölükler Kümeevler No:538&nbsp; İncesu / Kayseri<br> e-Posta&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <a href="mailto:denermakina@hs03.kep.tr"><strong>denermakina@hs03.kep.tr</strong></a><strong></strong></p><strong>
    </strong><p><strong> </strong></p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:paragraph --></p>
    <p>
        Biz, Dener Makine <strong>Ltd. Şti</strong>. olarak; müşterilerimiz,<br>
        tüketicilerimiz ve çalışanlarımız dahil Şirketimiz ile ilişkili şahısların<br>
        uhdemizde bulunan kişisel verilerinin Türkiye Cumhuriyeti Anayasası ve insan<br>
        haklarına ilişkin ülkemizin tarafı olduğu uluslararası sözleşmeler ile 6698<br>
        sayılı Kişisel Verilerin Korunması Kanunu (“KVKK”) başta olmak üzere ilgili<br>
        mevzuat çerçevesinde; güvence altına alınması ve işlenmesi konusuna<br>
        hassasiyetle yaklaşmaktayız.
    </p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:paragraph --></p>
    <p>
        Bu çerçevede, KVKK<br>
        kapsamında Veri Sorumlusu sıfatıyla sizleri aydınlatmak istiyoruz. Şirketimiz<br>
        ile tüketici, müşteri, tedarikçi, stajyer, çalışan, ziyaretçi, işbirliği içinde olduğumuz kişi ve<br>
        kurumların çalışanları, hissedarları ve yetkilileri sıfatı<br>
        ile paylaştığınız <em>kişisel verileriniz </em>KVKK’<br>
        ya uygun şekilde, faaliyet ve hizmet amaçlarımız ile bağlantılı ve ölçülü<br>
        olarak işlenebilecek.
    </p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:paragraph --></p>
    <p>
        Şirketimiz,<br>
        yürürlükteki mevzuata uygun olarak, işlemekte olduğu kişisel verilerin hukuka<br>
        aykırı olarak işlenmesini önlemek, verilere hukuka aykırı olarak erişilmesini<br>
        önlemek ve verilerin muhafazasını sağlamak için uygun güvenlik düzeyini sağlamaya yönelik<br>
        gerekli teknik ve idari tedbirleri almakta, bu kapsamda gerekli denetimleri<br>
        yapmak veya yaptırmaktadır.
    </p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:paragraph --></p>
    <p><strong>İŞLENEN VERİLER </strong></p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:paragraph --></p>
    <p>
        Kimlik<br>
        verileri &nbsp;&nbsp;: Ad,<br>
        soyad, cinsiyet, doğum tarihi, şahıs şirketleri için vergi kimlik numarası<br>
        olarak kullanılmakta olan TC kimlik numarası, vergi numarası
    </p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:paragraph --></p>
    <p>
        İletişim<br>
        verileri &nbsp;: telefon numarası, açık adres,<br>
        e-posta
    </p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:paragraph --></p>
    <p>
        Fiziksel<br>
        mekan güvenliği: mağazalarda güvenlik kamerası kaydı, girişte kimlik kontrolü
    </p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:paragraph --></p>
    <p>
        İşlem<br>
        güvenliği verileri : Web sitemizde IP adresi, bağlanılan ülke<br>
        bilgisi, web browser bilgisi
    </p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:paragraph --></p>
    <p>
        Pazarlama<br>
        verileri : Her türlü müşteri şikayeti esnasında sorunun anlaşılması için<br>
        müşteri tarafından paylaşılabilecek kişisel veriler, kaç kere şikayette bulunduğu,<br>
        geç cevaplanan şikayet sayısı, alışverişte kullanmayı tercih ettiği ödeme tipi,<br>
        ürün ve hizmetlerimiz ile ilgili yapılabilecek kampanyalar kapsamında işlenen<br>
        kişisel veriler, elektronik haberleşme mevzuatı çerçevesinde<br>
        iletişim/bülten/tanıtım izni verilip verilmediği, alışveriş yapma sıklığı,<br>
        çerez kayıtları
    </p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:paragraph --></p>
    <p>
        <strong>
            VERİLERİN İŞLENMESİNDEKİ<br>
            HUKUKİ DAYANAK
        </strong>
    </p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:paragraph --></p>
    <p><strong> </strong>Kişisel verileriniz;</p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:list {"ordered":true} --></p>
    <ol>
        <li>Hukukun ve dürüstlük kuralının öngördüğü biçimde,</li>
        <li>İşlenme amaçları ile bağlantılı, sınırlı ve ölçülü olarak,</li>
        <li>Doğru ve güncel olarak,</li>
        <li>
            Belirli açık ve meşru<br>
            amaçlar ile
        </li>
        <li>
            İlgili mevzuatta öngörülen veya<br>
            işlendikleri amaç için gerekli olan süre kadar muhafaza edilmesi ilkelerine<br>
            uygun olarak işlenecektir.
        </li>
    </ol>
    <p><!-- /wp:list --></p>
    <p><!-- wp:paragraph --></p>
    <p>
        <strong>
            VERİLERİN<br>
            İŞLENME AMACI
        </strong>
    </p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:paragraph --></p>
    <p>
        Sipariş ve kargonun son durumu<br>
        hakkında sms ve mail aracılığı ile bilgi iletilebilmesi
    </p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:paragraph --></p>
    <p>
        Fatura düzenlenebilmesi,<br>
        müşteriye iletilebilmesi ve tahsilat sürecinin yönetilebilmesi ve bu anlamda<br>
        mevzuat tarafından belirtilen tüm gerekliliklerin yerine getirilebilmesi,
    </p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:paragraph --></p>
    <p>
        İtiraz, öneri, şikâyet ve geri<br>
        bildirimlerin değerlendirilebilmesi ve sonuçlandırılabilmesi,
    </p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:paragraph --></p>
    <p>
        Bu hizmet kapsamında müşteriye<br>
        sms veya e-posta ile bilgi verilebilmesi, iletişim kurulabilmesi,
    </p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:paragraph --></p>
    <p>
        Müşterinin yararlanacağı<br>
        kampanya ile ilgili 3. kişiyle işbirliği yapılması halinde kampanya faydalarının<br>
        sağlanabilmesi;
    </p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:paragraph --></p>
    <p>
        Hizmet kalitesinin artırılması<br>
        amacıyla müşteri memnuniyeti araştırmasının yapılabilmesi
    </p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:paragraph --></p>
    <p>
        Tüketici hukuku mevzuatında<br>
        düzenlenen yükümlülüklerin yerine getirilebilmesi
    </p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:paragraph --></p>
    <p>
        Kullanım/alışveriş<br>
        alışkanlıklarının tespiti ve buna yönelik yeni imkân ve kampanyaların<br>
        tarafınıza iletilebilmesi
    </p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:paragraph --></p>
    <p>
        Müşteri deneyim ve<br>
        taleplerinin takip edilebilmesi, düzenlenebilmesi ve iyileştirebilmesi,
    </p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:paragraph --></p>
    <p>
        Şirketimizin hâlihazırda<br>
        üçüncü şahıslar ile birlikte yürüttüğü kampanyalar ile önümüzdeki dönemde<br>
        yürütebileceği tüm kampanyaların müşterilerimize sağlayacağı faydayı da<br>
        gözetebilecek şekilde hayata geçirilebilmesi, müşterilere bilgi verebilmek<br>
        amacıyla iletişime geçilebilmesi,
    </p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:paragraph --></p>
    <p>
        Müşterilerin segmente<br>
        edilebilmesi ve her segmentteki müşteri grubu için ihtiyaçların belirlenip özel<br>
        tekliflerin hazırlanabilmesi,
    </p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:paragraph --></p>
    <p>
        Herhangi bir sebeple müşteri<br>
        olma vasfını kaybeden eski müşterilerimizin segmente edilebilmesi,
    </p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:paragraph --></p>
    <p>
        Kampanyadan yararlanmaya hak<br>
        kazanan müşterilerin ödülden yararlanmasının sağlanabilmesi ile segmente<br>
        edilmiş bazı müşterilere hediye gönderiminin gerçekleştirilebilmesi,
    </p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:paragraph --></p>
    <p>
        Reklam, tanıtım, sosyal<br>
        sorumluluk projeleri ile görüşme, röportaj, video ve fotoğraf çekimi,<br>
        sponsorluk ve etkinliklerde bulunulabilmesi
    </p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:paragraph --></p>
    <p>
        Sosyal medya, çağrı merkezi gibi<br>
        iletişim araçları vasıtasıyla üyelik/abonelik öncesi soruların yanıtlanması,<br>
        şikayetlerin yanıtlanabilmesi ve müşteri veya müşteri adayı tarafından<br>
        istenilen bilgilerin paylaşılabilmesi, ihtiyaç duyulabilecek hesaplamaların<br>
        yapılabilmesi
    </p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:paragraph --></p>
    <p>
        Müşterimizden gelen talep<br>
        doğrultusunda kişisel verilerde değişiklik veya güncelleme yapılabilmesi
    </p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:paragraph --></p>
    <p>
        Ürün-hizmet tanıtımı,<br>
        bilgilendirme, reklam, kampanya, fiyat tarifesi ve diğer faydaların sunulması,<br>
        strateji belirlenmesi ve ölçülmesi gibi pazarlama aktiviteleri ile tüketici<br>
        tercihlerinin analizinin yapılması ve bu amaçla iletişime geçilebilmesi,
    </p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:paragraph --></p>
    <p>
        5651 sayılı kanun gereğince<br>
        log kayıtlarının tutulması ve internet alışkanlıklarının çerezler aracılığıyla<br>
        takip edilebilmesi,
    </p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:paragraph --></p>
    <p>
        <strong>
            Şirket içerisinde güvenliğin<br>
            sağlanması amacıyla özellikle;
        </strong>
    </p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:paragraph --></p>
    <p>İşyeri güvenliğinin sağlanması</p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:paragraph --></p>
    <p>
        <strong>
            Müşteri sözleşmelerinin ifasından<br>
            doğan gereklilik nedeniyle özellikle;
        </strong>
    </p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:paragraph --></p>
    <p>
        Müşteri şikayetlerinde müşterinin<br>
        haklı/haksız ayrımının yapılması, müşteri memnuniyetinin arttırılması, müşteri<br>
        ihtiyacının anlaşılması ve müşteri ile ilişkili süreçlerin iyileştirilmesinin<br>
        sağlanması
    </p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:paragraph --></p>
    <p>
        Müşteriye hizmet kalitesinin<br>
        değerlendirilmesi ve çalışanlara eğitim verilmesi
    </p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:paragraph --></p>
    <p>
        <a>
            <strong>
                KİŞİSEL<br>
                VERİLERİN AKTARILMASI İLE İLGİLİ HUSUSLAR
            </strong>
        </a>
    </p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:paragraph --></p>
    <p>
        Bu metnin 2. maddesinde sayılan<br>
        kişisel verileriniz 6698 sayılı Kişisel Verilerin Korunması Kanunu’nun 5/2 a,<br>
        c, ç, e, f bentleri ile ile 8/2 maddesinde belirtilen “kanunlarda öngörülmesi,<br>
        sözleşmenin kurulması veya ifası, hukuki yükümlülüğün yerine getirilebilmesi,<br>
        bir hakkın tesisi, kurulması veya ifası, veri sorumlusunun meşru menfaati”<br>
        kapsamında aktarılmasını gerektiren sebeplerle sınırlı olmak üzere kanundaki<br>
        istisna hükümleri uyarınca;
    </p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:paragraph --></p>
    <p>
        Şirketimizin yasalar karşısındaki<br>
        yükümlülüklerini ifa etmesi amacıyla, mevzuatlardan veya sözleşmeden kaynaklı<br>
        yükümlülüklerin yerine getirilmesine yönelik olarak, Vergi Usul Kanunu, Kişisel<br>
        Verilerin Korunması Kanunu, Kimlik Bildirme Kanunu ve bunlarla sınırlı olmamak<br>
        üzere diğer mevzuat hükümleri izin verdiği ve gerektirdiği ölçüde ilgili kurum<br>
        veya kuruluşlar ile Kişisel Verileri Koruma Kurumu,&nbsp; Vergi Dairesi<br>
        Başkanlıklarına, bankalar, Emniyet Genel Müdürlüğü ve sair kolluk kuvvetleri,<br>
        Mahkemeler, talep halinde mevzuat çerçevesinde belediyeler, adli merciler, icra<br>
        daireleri vb. kamu kurumlarına aktarılmaktadır.&nbsp;
    </p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:paragraph --></p>
    <p>
        Hukuki haklarımızın kullanılabilmesi açısından olası bir yargılamada<br>
        ihtiyaç duyulabilecek kişisel verileriniz, avukatlarımız ve adli merciler ile<br>
        paylaşılabilecektir.
    </p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:paragraph --></p>
    <p>
        İstisna hükümlerine dahil olamayabileceği değerlendirilen noktalarda ise<br>
        aktarılmasını gerektiren sebeplerle sınırlı olmak üzere;
    </p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:paragraph --></p>
    <p>
        Müşterilerimizin daha sağlıklı hizmet alabilmesi amacıyla ve şirketimizin<br>
        hâlihazırda üçüncü şahıslar ile birlikte yürüttüğü kampanyalar ile önümüzdeki<br>
        dönemde yürütebileceği tüm kampanyalar dâhilinde “ad soyad, yaşanılan şehir,<br>
        doğum tarihi, e-mail adresi, telefon numarası” bilgileriniz, sözleşme<br>
        ilişkisinde olduğumuz/olacağımız SMS ve mail gönderim hizmeti veren şirketler,<br>
        danışmanlık şirketleri gibi üçüncü kişilerle paylaşılabilecektir.
    </p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:paragraph --></p>
    <p>
        Danışmanlar ve denetimciler dâhil olmak üzere danışmanlık hizmeti aldığımız<br>
        üçüncü kişiler, tasarım sektörü kapsamında destek hizmeti alınan firmalar,<br>
        yetkili bayi, şirketimizin iştirakleri, ana hissedarı, ana hissedarının<br>
        iştirakleri ve bağlı olduğu risk grubundaki şirketler, pay satışı kapsamında<br>
        muhtemel alıcılar, sözleşme kapsamında tercüme hizmeti alınan firmalar, kargo<br>
        gönderim şirketleri, müşterilerle iletişime geçebilmek için sosyal medya<br>
        hizmeti veren firmalar vb. anlaşmalı olduğu hizmet sağlayıcılar ve iş ortakları<br>
        ile paylaşılabilecektir.
    </p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:paragraph --></p>
    <p>
        Teknik ve idari altyapı ile elektronik sistemlerin (web sitenin) kurulması,<br>
        geliştirilmesi, bakımı ile müşteri datalarının tutulmasına yönelik hizmet<br>
        alınan üçüncü kişilere işin gerektirdiği ölçüde aktarılabilmektedir.
    </p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:paragraph --></p>
    <p>
        <a>
            <strong>
                KİŞİSEL VERİLERİNİZİN TOPLANMA<br>
                YÖNTEMİ VE HUKUKİ SEBEBİ
            </strong>
        </a>
    </p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:paragraph --></p>
    <p>Kişisel verilerinizi,<strong></strong></p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:paragraph --></p>
    <p>
        a)&nbsp; Elektronik sistemler üzerinden, online web sitemizde<br>
        doldurduğunuz üyelik de dahil her türlü form, mağazalarımızda güvenlik<br>
        kamerası, kargo şirketleri başta olmak üzere şirketimizin hizmet aldığı, hizmet<br>
        verdiği, iş ortaklığı halinde olduğu üçüncü kişiler, çağrı merkezi, web<br>
        sitemiz, şirketimizin sosyal medya hesapları, web sitesi çerezler, e-posta gibi<br>
        elektronik ortamda veya fiziksel olarak tarafınızca kaydedilen/gönderilen<br>
        bilgiler, anketler, yarışmalar kapsamında ve mahkemeler ile diğer kamu<br>
        kurumları aracılığıyla topluyoruz.
    </p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:paragraph --></p>
    <p>
        b) Hukuki yükümlülüklerimizi yerine getirmek için bize iletilen<br>
        hukuki belge ve tebligatlar vasıtasıyla topluyoruz.
    </p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:paragraph --></p>
    <p>
        c) Şirket’in işyeri güvenliği sağlamaya yönelik hukuki yükümlülüğü<br>
        ve meşru menfaati gereği, işyeri binasına yerleştirdiğimiz kameralar<br>
        aracılığıyla topluyoruz.
    </p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:paragraph --></p>
    <p>
        d) Şirket’in çalışanları efektif müşteri destek hizmeti<br>
        vermelerine ilişkin eğitilmelerini sağlamaya yönelik meşru menfaati gereği ses<br>
        kayıtlarınızı kullandığımız ses kayıt programı aracılığıyla topluyoruz.
    </p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:paragraph --></p>
    <p>
        <a>
            e) Hukuki yükümlülüklerimizi yerine<br>
            getirmek için bize iletilen hukuki belge ve tebligatlar vasıtasıyla topluyoruz.
        </a>
    </p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:paragraph --></p>
    <p>
        f) Şirket’in platformunu geliştirmeye ve daha efektif hale<br>
        getirmeye yönelik meşru menfaati gereği Çerez Politikamızda da detayları<br>
        belirtildiği üzere web sitemizde kullanılan çerezler vasıtasıyla kişisel<br>
        verilerinizi topluyoruz.
    </p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:paragraph --></p>
    <p>
        Kişisel verilerinizi işlememizin hukuki sebebi, 6698 sayılı<br>
        Kişisel Verilerin Korunması Kanunun 5/2 a, c, ç, e, f bentlerinde belirtilen<br>
        “kanunlarda öngörülmesi, sözleşmenin kurulması veya ifası, hukuki yükümlülüğün<br>
        yerine getirilebilmesi, bir hakkın tesisi, kurulması veya ifası, veri<br>
        sorumlusunun meşru menfaati” kapsamında kanundaki istisna hükümleri ile istisna<br>
        hükümlerine dahil olamayabileceği değerlendirilen noktalarda ise aynı kanunun<br>
        5/1 hükmünde belirtilen açık rıza ilkesine dayanıldığını belirtmek isteriz.
    </p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:paragraph --></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Çerezlerin kullanımı hakkında ayrıntılı bilgiye <a href="https://dener.com/cerezlerin-kullanimi/">https://www.dener.com/cerezlerin-kullanimi/</a>  adresinden erişebilirsiniz.</p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:paragraph --></p>
    <p>
        <strong>
            KİŞİSEL<br>
            VERİ SAHİBİNİN KVKK’NIN 11. MADDESİNDE SAYILAN HAKLARI
        </strong>
    </p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:paragraph --></p>
    <p>
        Kişisel veri sahipleri olarak, haklarınıza ilişkin<br>
        taleplerinizi www.dener.com internet adresinden iletebilirsiniz.<br>
        &nbsp;Firmamız, talebin niteliğine göre talebi<br>
        en kısa sürede ve en geç otuz (30) gün içinde ücretsiz olarak<br>
        sonuçlandıracaktır. Ancak, işlemin ayrıca bir maliyeti gerektirmesi hâlinde,<br>
        tarafımızca Kişisel Verileri Koruma Kurulunca belirlenen tarifedeki ücret<br>
        alınacaktır. Kişisel verisi işlenen gerçek kişilerin KVKK’nın 11. maddesi<br>
        uyarıca sahip olduğu haklar aşağıdaki gibidir:
    </p>
    <p><!-- /wp:paragraph --></p>
    <p><!-- wp:list --></p>
    <ul>
        <li>
            Kişisel veri<br>
            işlenip işlenmediğini öğrenme,
        </li>
        <li>
            Kişisel veri<br>
            işlenip işlenmediğini öğrenme,
        </li>
        <li>
            Kişisel<br>
            verileri işlenmişse buna ilişkin bilgi talep etme,
        </li>
        <li>
            Kişisel<br>
            verilerin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını<br>
            öğrenme,
        </li>
        <li>
            Yurt içinde<br>
            veya yurt dışında kişisel verilerin aktarıldığı üçüncü kişileri bilme,
        </li>
        <li>
            Kişisel<br>
            verilerin eksik veya yanlış işlenmiş olması hâlinde bunların düzeltilmesini<br>
            isteme ve bu kapsamda yapılan işlemin kişisel verilerin aktarıldığı üçüncü<br>
            kişilere bildirilmesini isteme,
        </li>
        <li>
            KVKK ve<br>
            ilgili diğer kanun hükümlerine uygun olarak işlenmiş olmasına rağmen,<br>
            işlenmesini gerektiren sebeplerin ortadan kalkması hâlinde kişisel verilerin<br>
            silinmesini veya yok edilmesini isteme ve bu kapsamda yapılan işlemin kişisel<br>
            verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme,
        </li>
        <li>
            İşlenen<br>
            verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle<br>
            kişinin kendisi aleyhine bir sonucun ortaya çıkmasına itiraz etme,
        </li>
        <li>
            Kişisel<br>
            verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara uğraması hâlinde<br>
            zararın giderilmesini talep etme.<br>
            &nbsp;
        </li>
    </ul>
    <p><!-- /wp:list --></p>
</div>