@{
    List<string> kategoriler = new List<string>()
{
        "Bilgisayarlar",
        "Monitörler",
        "Kalvyeler",
        "Mouselar"



    };


}
<ul class="list-group">
    @foreach (var item in kategoriler)
    {
        <li class="list-group-item"><a href="Home/Kategori?adi=@item">@item</a></li>
    }
</ul>

