@model DenerMakine.Data.DataBaseContext;

@{
    ViewData["Title"] = "Dashboard";
}
<h1>Dashboard</h1>
<div class="row ">
    <div class="col-md-5 overflow-y-scroll" style="max-height:400px;min-height:300px"><partial name="PartialViewDepartments" model="Model.Departments"></partial></div>
    <div class="col-md-5 overflow-y-scroll" style="max-height:400px;min-height:300px"><partial name="PartialViewUsers" model="Model.Users"></partial></div>
    <br>
<div class="col-md-6">
        <a class="btn btn-primary" asp-area="Admin" asp-controller="Users" asp-action="Create">Kullanıcı Ekle</a>
        <a class="btn btn-primary" asp-area="Admin" asp-controller="Departments" asp-action="Create">Departman Ekle</a>
        <a class="btn btn-primary" asp-area="Admin" asp-controller="Guides" asp-action="Create">Kılavuz Ekle</a>
    </div>
    <div class="col-md-10 overflow-y-scroll" style="max-height:400px;min-height:300px"><partial name="PartialViewGuides" model="Model.Guides"></partial></div>

</div>


