@model DenerMakine.Data.DataBaseContext;

@{
    ViewData["Title"] = "Dashboard";
}
<h1>Dashboard</h1>
<div class="row ">
    <div class="row col-md-12">
        <div class="col-1"></div>
        <div class="col-5 overflow-y-scroll" style="max-height:400px;min-height:300px;scrollbar-width:none">
            <a type="button" asp-controller="Departments" class="btn btn-primary text-center col-md-5 table">Deparmanlar</a>
            <partial name="PartialViewDepartments" model="Model.Departments"></partial>
        </div>
        <div class="col-1"></div>
        <div class="col-5 overflow-y-scroll" style="max-height:400px;min-height:300px;scrollbar-width:none">
            <a type="submit" asp-controller="Users" class="btn btn-secondary text-center col-md-5 table">Kullanıcılar</a>
            <partial name="PartialViewUsers" model="Model.Users"></partial>
        </div>
    </div>
    <div class="col-1"></div>
    <div class="col-md-11 overflow-y-scroll" style="max-height:400px;min-height:300px;scrollbar-width:none">
        <a type="button" asp-controller="Guides" class="btn btn-warning text-center col-md-19 table">Kılavuzlar</a>
        <partial name="PartialViewGuides" model="Model.Guides"></partial>
    </div>
    <div class="col-md-1"></div>
</div>


