@{
    ViewBag.Title = "Hakkımızda";
}
<main aria-labelledby="title">
    
    @*<h3>@ViewBag.Message</h3>*@
<div style="display:flex">
    <div style=" padding:10px">
        <h2 id="title">@ViewBag.Title</h2>
        <p>
            Dener Makina, 1974 yılında Mustafa DENER tarafından Kayseri Eski Sanayi Bölgesi’nde kuruldu. Küçük bir atölyede faaliyetlerine başlayan işletme ilk yıllarda, ithal edilen otomotiv yedek parçalarının üretimi ile iştigal etti. Biconlar, el frenleri vb. otomotiv sektörünün temel girdileri arasında yer alan ve ülkemize ağırlıklı olarak yurt dışından ithal edilen parçaların yerli ve yüksek kalite üretimini gerçekleştirdi. Kayseri Bölgesi’nde ve tüm Türkiye’de birçok müşteriye hitap ederek kısa sürede otomotiv sektöründe tanınmaya başladı.
        </p>
        <p>
            1980 yılında ürün portföyünü ve makine parkını genişleterek otomotiv yan sanayisinde üretim faaliyetlerine devam etti. Sektörde faaliyet gösteren Mercedes, Ford, Mitsubishi gibi küresel ve köklü şirketlere yedek parça üretimi gerçekleştirdi. Ağırlıklı olarak ithal edilen kaporta, şase ve motor parçalarını Kayseri’de üretmek suretiyle ülkemizin lokomotif sektörüne yerli üretim hususunda katkılar sağladı.
        </p>
        <p>
            1990 yılında Makine Sanayi’sine adım attı. Öncelikli olarak Türkiye’deki şeker fabrikalarına pancar boşaltma makineleri üretimi gerçekleştirdi. Böylece ülkemizde tarım sektörünün makineleşmesine ve verimliliğine destek oldu. Çok yüksek bedellerle ithal edilen pancar boşaltma makinelerinin ülkemizde üretilmesine öncülük etti. 90’lı yıllarda tarımsal makinelerin yanı sıra sac işleme makineleri üretimi için önemli ar-ge faaliyetlerinde bulundu ve 90’lı yılların sonunda sac işleme makineleri üretimine başladı.
        </p>
        <p>
            2000 yılından itibaren CNC Sac İşleme Makineleri üretimine yoğunlaşan Dener Makine; Giyotin Makas, Hidrolik Abkant Pres, Plazma Kesim, Vidalı Milli Abkant Pres, Elektrikli Servo Abkant Pres ve Fiber Lazer Kesim makineleri vb. geniş bir ürün yelpazesiyle yatırım malı üretimine devam etmektedir. Nitelikli işgücü alt yapısı ve gelişmiş ar-ge birimi ile ileri teknolojiyi yakından takip etmek ve yeni nesil teknolojiye uyum sağlamak suretiyle makine sektöründe 2000’li yıllarda uzmanlaşmıştır. Ülke içerisinde sanayi sektörünün makine ihtiyacını karşılamakla birlikte ağırlıklı olarak dünyanın 86 ülkesine ‘DENER’ markasıyla ihracat yapmaktadır. Şu anda yeni nesil elektrikli servo abkant makine üretiminde dünyada iki üreticiden biri konumundadır. Yıllar itibari ile üretim kapasitesini artırarak ve ürün gamını genişleterek, Sac İşleme Makine grubunda ülkemizde ve dünyada az sayıda üretici içerisinde tercih edilen markalardan biri haline gelmiştir.
        </p>
        <p>
            44 yıllık birikimi ile kuruluşundan bugüne nitelikli işgücü, yüksek teknoloji ve verimlilik odaklı üretim anlayışıyla ülkemiz ve dünya sanayisine önemli katkılar sunmuştur. İthal ikamesini ve ihracatı öncelemek suretiyle dış ticarete iki yönlü katkı yaparak ülkemiz ekonomisine önemli faydalar sağlamıştır. Tedarik zincirini ağırlıklı olarak yurtiçinden tercih etmekte olup bin beş yüzden fazla tedarikçi ile çalışmaktadır. İstihdam sağlamanın yanı sıra nitelikli insan kaynağı yetiştirmek suretiyle ülkemizin beşeri sermaye gücünü artırmaktadır. Bu odağını kaybetmeden, ‘’ Dener Makina, Türkiye ve Dünya’ya; Türkiye için değer üretir’’ motivasyonu ile büyümeye ve milli hasıladaki payını artırmaya devam etmektedir.
        </p>
    </div>
    <div style=" padding:10px">
        <asp:Image runat="server">
            <img src="~/kurumsal-logo.jpg" />
        </asp:Image>
    </div>
</div>
</main>