@{
    ViewBag.Title = "İletişim";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h4>Adres</h4>

    <address>
        Semerkent Mah. Bölükler Sk. No:538  İncesu / Kayseri / TÜRKİYE<br />
    </address>
        <h4>İletişim Bilgileri</h4>
        <address>
            <abbr title="Telefon">T:</abbr>
            (+90) 352 321 13 50
            <br />
            <abbr title="Fax">F:</abbr>
            (+90) 352 321 13 53
        </address>
    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</main>