@model IEnumerable<Department>

<div class="card mb-4">
    <div class="card-header">Departmanlar</div>
    <div class="card-body">
        <div class="row">
           <ul class="list-unstyled mb-0 row">
                    @foreach (var item in Model)
                    {
                        <li><a class="btn btn-outline-primary" href="/Departments/Index/@item.Id" >@item.Name</a></li>
                    }
           </ul>
            

        </div>
    </div>
</div>