
@{
    ViewBag.Title = "Controller'dan View'a veri taşıma";
}

<h2>Index</h2>
<div>
    Ürün kategorisi: @ViewBag.CategoryName
    <br />
    Ürün Adı: @ViewData["ProductName"]
    <br />
    Mesaj: @TempData["Message"]
    <br />
</div>
