body {
    text-align: right;
    background-color:darkgrey
}
/*bölüm olarak değişiklik yapma */
ul {
    text-align: left
}
/* # id leri belirtmak için yapılır */
#cssElementIdSecisi {
    font-style: oblique;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: antiquewhite;
    
}
#cssCesitleriDiv{
    text-align:center
}
h2 {
    /*Bir diğer arka plan özelliği opacity dir arka plan saydamlığına etki eder*/
    /*opacity tagi kullanılarbilir ya da rgba()*/
    color: blueviolet;
    
    border: dotted;
    border-inline: inherit
}
/* classları belirtmek için . kullanılır*/
.ortala {
    text-align: center;
    background: rgba(46,200,158,0.64)
      
}


.kırmızı-baslık {
    color: crimson;
        /*border usage*/
    border:10px outset blue;
}
/*evrensel tanımlayıcı*/
* {
    color: chocolate
}

h3 {
    color: wheat;
    text-align: center;
    border: dashed;
    border-inline: inherit;
    background-color: brown;
}
